* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: "Geometria", Arial, sans-serif;
  background: #131212;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.header {
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: clamp(2rem, 3.6vw, 4.5rem);
  position: relative;
  z-index: 10;
}
.header__main {
  display: flex;
  gap: clamp(1.5rem, 4.2vw, 5.25rem);
}
.header__squares {
  margin-left: 0.875rem;
}
.header__nav {
  display: flex;
  justify-content: center;
}
.header__menu {
  display: flex;
  gap: clamp(1rem, 1.6vw, 2rem);
  align-items: center;
}
.header__menu-item a {
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  line-height: 120%;
  text-transform: uppercase;
  transition: color 0.2s;
}
.header__menu-item a:hover {
  color: #FB6542;
}
.header__dots {
  margin-right: clamp(1.5rem, 5vw, 6.25rem);
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  cursor: pointer;
}
.header__dots:hover .header__orbit--left {
  transform: rotate(360deg);
  transition: transform 2s linear;
}
.header__dots:hover .header__orbit--right {
  transform: rotate(360deg);
  transition: transform 2s linear;
}
.header__dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background: #FFFFFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.header__orbit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transform-origin: 50% 50%;
}
.header__orbit--left .header__dot {
  transform: translate(-50%, -50%) translateX(-20px);
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__orbit--right .header__dot {
  transform: translate(-50%, -50%) translateX(20px);
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__abstraction {
  position: absolute;
  top: -8.125rem;
  right: clamp(15.125rem, 26vw, 30.25rem);
  width: clamp(21.875rem, 30vw, 35.25rem);
  height: clamp(14.5rem, 20vw, 22.75rem);
  object-fit: contain;
  pointer-events: none;
  z-index: 1;
}
.header__circle-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 27.125rem;
  height: 27.125rem;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.header__circle {
  position: absolute;
  top: -27.125rem;
  right: -27.125rem;
  width: clamp(40.625rem, 44vw, 54.25rem);
  height: clamp(40.625rem, 44vw, 54.25rem);
  border: clamp(3.125rem, 8vw, 9.375rem) solid #FB6542;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__nav--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background: transparent;
    z-index: 100;
    align-items: flex-start;
    padding: 1.5rem;
  }
  .header__menu {
    gap: 0.5rem;
  }
}
.hero {
  position: relative;
  display: flex;
}
.hero__circle {
  position: absolute;
  top: calc(3.125rem - (12rem - 10vw));
  left: calc(13.125rem - (12rem - 10vw));
  width: clamp(20rem, 38vw, 46.875rem);
  height: clamp(20rem, 38vw, 46.875rem);
  background: #FB6542;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 0 6.25rem 0 rgba(0, 0, 0, 0.15);
}
.hero__clock {
  width: 70%;
  height: 70%;
  object-fit: contain;
  z-index: 3;
}
.hero__content {
  margin: clamp(1.5rem, 19vw, 21.5625rem) 1.5rem 0 clamp(1.5rem, 50vw, 50.9375rem);
  max-width: 56.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}
.hero__content-title {
  font-family: "Gotham Pro", Arial, sans-serif;
  font-weight: 900;
  font-size: clamp(3rem, 10vw, 12.5rem);
  line-height: 100%;
  text-transform: uppercase;
}
.hero__content-subtitle {
  max-width: 48.75rem;
  font-family: "Geometria", Arial, sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  line-height: 140%;
}
.hero__diamond {
  position: absolute;
  background: transparent;
  border-style: solid;
  border-radius: 0.25rem;
  z-index: 2;
}
.hero__diamond--left {
  width: clamp(1.375rem, 2.5vw, 2.75rem);
  height: clamp(1.375rem, 2.5vw, 2.75rem);
  top: calc(12.875rem - (36rem - 30vw));
  left: calc(8.25rem + 12rem - 10vw);
  border-width: 0.25rem;
  transform: rotate(-15deg);
}
.hero__diamond--right {
  width: clamp(0.75rem, 2.5vw, 1.5rem);
  height: clamp(0.75rem, 2.5vw, 1.5rem);
  top: calc(17.25rem - (36rem - 30vw));
  right: calc(21.625rem + 6rem - 5vw);
  border-width: 0.125rem;
  transform: rotate(-45deg);
}
.hero__diamond--bottom {
  width: clamp(2rem, 2.5vw, 4rem);
  height: clamp(2rem, 2.5vw, 4rem);
  top: calc(47.5rem - (36rem - 30vw));
  left: calc(57.125rem - (48rem - 40vw));
  border-width: 0.25rem;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .hero__content {
    margin: calc(9.125rem + 12rem - 10vw) 1rem 0 1rem;
    max-width: 21.25rem;
  }
}
.footer {
  position: relative;
  padding-bottom: clamp(1.5rem, 3vw, 3.75rem);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: clamp(1.5rem, 2.5vw, 2.875rem);
}
.footer__circle-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36.5rem;
  height: 21.125rem;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}
.footer__circle {
  position: absolute;
  left: -5.625rem;
  bottom: -21rem;
  width: clamp(30.625rem, 35vw, 42.125rem);
  height: clamp(30.625rem, 35vw, 42.125rem);
  border: clamp(3.125rem, 6vw, 6.25rem) solid #FB6542;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
.footer__squares {
  margin-right: clamp(1.5rem, 5vw, 6.25rem);
}
.footer__socials {
  position: relative;
  margin-right: clamp(1.5rem, 5vw, 6.25rem);
  display: flex;
  gap: 2rem;
  z-index: 10;
}
.footer .social {
  width: clamp(1.5rem, 4vw, 4.5rem);
  height: clamp(1.5rem, 4vw, 4.5rem);
}
.footer .social svg {
  transition: color 0.3s;
}
.footer .social:hover svg {
  color: #FB6542;
}

@media (max-width: 768px) {
  .footer__circle-wrapper {
    max-width: 36.5rem;
    max-height: 21.125rem;
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
