@use 'functions' as *;
@use 'variables' as *;

.footer {
  position: relative;
  padding-bottom: clamp(rem-calc(24), 3vw, rem-calc(60));
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: clamp(rem-calc(24), 2.5vw, rem-calc(46));

  &__circle-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: rem-calc(584);
    height: rem-calc(338);
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
  }

  &__circle {
    position: absolute;
    left: rem-calc(-90);
    bottom: rem-calc(-336);
    width: clamp(rem-calc(490), 35vw, rem-calc(674));
    height: clamp(rem-calc(490), 35vw, rem-calc(674));
    border: clamp(rem-calc(50), 6vw, rem-calc(100)) solid $color-primary;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }

  &__squares {
    margin-right: clamp(rem-calc(24), 5vw, rem-calc(100));
  }

  &__socials {
    position: relative;
    margin-right: clamp(rem-calc(24), 5vw, rem-calc(100));
    display: flex;
    gap: rem-calc(32);
    z-index: 10;
  }

  .social {
    width: clamp(rem-calc(24), 4vw, rem-calc(72));
    height: clamp(rem-calc(24), 4vw, rem-calc(72));
    svg {
      transition: color 0.3s;
    }
    &:hover {
      svg {
        color: $color-primary;
      }
    }
  }
}

@include mobile {
  .footer {
    &__circle-wrapper {
      max-width: rem-calc(584);
      max-height: rem-calc(338);
      width: 100%;
      height: 100%;
    }
  }
}