@use 'functions' as *;
@use 'variables' as *;

.hero {
  position: relative;
  display: flex;

  &__circle {
    position: absolute;
    top: calc(rem-calc(50) - calc(rem-calc(192) - 10vw));
    left: calc(rem-calc(210) - calc(rem-calc(192) - 10vw));
    width: clamp(rem-calc(320), 38vw, rem-calc(750));
    height: clamp(rem-calc(320), 38vw, rem-calc(750));
    background: $color-primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 0 rem-calc(100) 0 rgba(0,0,0,0.15);
  }

  &__clock {
    width: 70%;
    height: 70%;
    object-fit: contain;
    z-index: 3;
  }

  &__content {
    margin: clamp(rem-calc(24), 19vw, rem-calc(345)) rem-calc(24) 0 clamp(rem-calc(24), 50vw, rem-calc(815));
    max-width: rem-calc(900);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }

  &__content-title {
    font-family: 'Gotham Pro', Arial, sans-serif;
    font-weight: 900;
    font-size: clamp(rem-calc(48), 10vw, rem-calc(200));
    line-height: 100%;
    text-transform: uppercase;
  }

  &__content-subtitle {
    max-width: rem-calc(780);
    font-family: 'Geometria', Arial, sans-serif;
    font-weight: 500;
    font-size: clamp(rem-calc(24), 2.5vw, rem-calc(48));
    line-height: 140%;
  }

  &__diamond {
    position: absolute;
    background: transparent;
    border-style: solid;
    border-radius: rem-calc(4);
    z-index: 2;
    &--left {
      width: clamp(rem-calc(22), 2.5vw, rem-calc(44));
      height: clamp(rem-calc(22), 2.5vw, rem-calc(44));
      top: calc(rem-calc(206) - calc(rem-calc(576) - 30vw));
      left: calc(rem-calc(132) + calc(rem-calc(192) - 10vw));
      border-width: rem-calc(4);
      transform: rotate(-15deg);
    }
    &--right {
      width: clamp(rem-calc(12), 2.5vw, rem-calc(24));
      height: clamp(rem-calc(12), 2.5vw, rem-calc(24));
      top: calc(rem-calc(276) - calc(rem-calc(576) - 30vw));
      right: calc(rem-calc(346) + calc(rem-calc(96) - 5vw));
      border-width: rem-calc(2);
      transform: rotate(-45deg);
    }
    &--bottom {
      width: clamp(rem-calc(32), 2.5vw, rem-calc(64));
      height: clamp(rem-calc(32), 2.5vw, rem-calc(64));
      top:  calc(rem-calc(760) - calc(rem-calc(576) - 30vw));
      left: calc(rem-calc(914) - calc(rem-calc(768) - 40vw));
      border-width: rem-calc(4);
      transform: rotate(-45deg);
    }
  }
}

@include mobile {
  .hero {
    &__content {
      margin: calc(rem-calc(146) + calc(rem-calc(192) - 10vw)) rem-calc(16) 0 rem-calc(16);
      max-width: rem-calc(340);
    }
  }
}